<nav class="navbar">
  <!-- Logo -->
  <a routerLink="/">
    <div class="logo">
      <img src="/assets/Prime-Resume-Logo.png" alt="LOGO" />
    </div>
  </a>
  <!-- Hamburger -->
  <div class="hamburger" [ngClass]="{ open: open }" (click)="toggleMenu()" tabindex="0" aria-label="Toggle menu" role="button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- Navigation Links -->
  <ul class="nav-links" [ngClass]="{ open: open }">
    <li><a routerLink="#about" (click)="handleLinkClick()">About</a></li>
<li><a routerLink="upload" (click)="handleLinkClick()">Upload</a></li>
    <li><a routerLink="#features" (click)="handleLinkClick()">Features</a></li>
<li>
  <a href="javascript:void(0)" (click)="scrollToSection('testimonials', '/index'); handleLinkClick()" class="nav-link">
    Testimonials
  </a>
</li>



    <li><a routerLink="/contact" (click)="handleLinkClick()">Contact</a></li>
  </ul>
  <!-- Background Overlay -->
  <div class="overlay" *ngIf="open" (click)="toggleMenu()"></div>
</nav>
